@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,800;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

@layer components {
  .container {
    @apply !max-w-screen-xl mx-auto px-4;
  }
  .sec {
    @apply py-16;
  }
  .active {
    @apply text-white rounded-md;
  }
  .app_input {
    @apply mt-4 px-5 py-2 w-full block outline-none border-2 border-gray-200 rounded-lg focus:border-[#63CF50]
  }
  .effect {
    @apply transition duration-300;
  }
}

.table {
  display: table;
  width: 100%;
}

.table thead th{
  background-color: #e0e7ff;
}
